.Home {
    position: relative;
    width: 100%;
    background: url("https://static.vecteezy.com/system/resources/previews/023/435/430/original/business-asian-woman-callcenter-using-laptop-computer-isolated-transparent-background-png.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner-fadebtn {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.2);
    opacity: 0.5;

}

.top_box {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 600px;
}

.top_content h1 {
    color: #3275db;
    font-weight: 600;
}

.top_content p {
    color: #3275db;
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
}

.search-input {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input_field {
    margin-top: 25px;
}

.search_icon {
    position: absolute;
    left: 75%;
    bottom: 31%;
    color: rgb(161, 142, 142);
}

.last_banner_text {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.last_banner_text a {
    margin-top: 30px;
    margin-left: 10px;
}

.search_icon:hover {
    color: black;
    cursor: pointer;
}

.image_box {
    display: flex;
    margin-left: -100px;
    margin-top: 25px;
    overflow: auto;

}

.image_box a {
    width: 40rem;

}

.images_1 {
    width: 120px;
    margin-left: 110px;
    margin-top: 10px;
}

.images_2 {
    width: 120px;
    margin-top: 10px;
    margin-left: 50px;
}

.images_3 {
    width: 190px;
    margin-top: -30px;
    margin-left: -10px;
}

/* after banner content */
.after_banner_content {
    width: 100%;
    height: 100vh;
}

.services h1 {
    margin-top: 30px;
    margin-left: 30%;
    margin-bottom: 20px;
}

.achievement_content {
    display: flex;
}

.image_person {
    width: 400px;
    height: 400px;
    margin-left: 70px;
    margin-top: 20px;
}

.achievement_content .content {
    color: black;
    height: 400px;
}

.paragraphs {
    margin-top: 20px;
    width: 700px;
    margin-left: 30px;
}

.paragraphs p {
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.paragraphs button {
    padding: 15px;
    background-color: #3275db;
    color: white;
    border-radius: 2px;
    border: none;
    width: 180px;
}

/* how it works */
.how_it_works {
    width: 100%;
    margin-top: 25px;
}

.how_it_works>p {
    margin-left: 45%;
    font-size: 35px;
    margin-bottom: 25px;
}

.how_it_works .all_content {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.how_it_works .all_content .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 10px;
}

.how_it_works .all_content .contents img {
    width: 200px;
    height: 200px;
}

.how_it_works .all_content .contents h5 {
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 0.7;
}

.how_it_works .all_content .contents p {
    margin-bottom: 20px;
    width: 100%;
    opacity: 0.5;
    text-align: center;
    line-height: 26px;
}

/* trends */


.trend_container {
    border: none;
    background-color: white;
    margin-top: 40px;
}

.trend_container h6 {
    font-size: 25px;
    margin-left: 35%;
    margin-bottom: 20px;
    opacity: 0.7;
    width: 400px;
    text-align: center;
}

.trend_container p {

    margin-bottom: 20px;
    opacity: 0.5;
    width: 700px;
    text-align: center;
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;

}

.card {
    width: 160px;
    height: 180px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.card h5 {
    margin-top: 20px;
}

/* Mobile screen */
@media only screen and (max-width: 600px) {
    .top_box {
        position: absolute;
        top: 45%;
        left: 5%;
        width: 400px;
        right: 5%;
    }
    
    .top_content h1 {
        color: #3275db;
        font-weight: 300;
        font-size: 20px;
    }
    
    .top_content p {
        color: #3275db;
        font-weight: 300;
        font-size: 18px;
        margin-top: 10px;
    }
    
    .search-input {
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }
    .last_banner_text a {
     display: none;
    }
    .last_banner_text {
        display: flex;
        margin-top: 10px;
        margin-left: 5px;
    }
    .image_box {
        display: flex;
        margin-left: -100px;
        margin-top: 25px;
        overflow: auto;
    
    }
    
    .image_box a {
        width: 50rem;
    
    }
    
    .images_1 {
        width: 65px;
        margin-left: 100px;
        margin-top: 10px;
    }
    
    .images_2 {
        width: 65px;
        margin-top: 10px;
        margin-left: 50px;
    }
    
    .images_3 {
        width: 100px;
        margin-top: -10px;
        margin-left: -10px;
    }
    .after_banner_content {
        width: 100%;
        height: auto;
    }
    .achievement_content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .image_person {
        width: 300px;
        height: 300px;
        margin-left: 80px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .paragraphs {
        margin-top: 20px;
        width: 80%;
        margin-left: 30px;
    }
    .how_it_works>p {
        margin-left: 30%;
        font-size: 35px;
        margin-bottom: 25px;
    }
    .how_it_works .all_content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        align-items: center;
    
    }
    .how_it_works .all_content .contents h5 {
        margin-bottom: 20px;
        font-size: 20px;
        opacity: 0.7;
        text-align: center;
    }
    
    .how_it_works .all_content .contents p {
        margin-bottom: 20px;
        width: 100%;
        opacity: 0.5;
        text-align: start;
        line-height: 26px;
    }
    .trend_container h6 {
        font-size: 25px;
        margin-left: 10%;
        margin-bottom: 20px;
        opacity: 0.7;
        width: 400px;
        text-align: center;
    }
    
}