* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
    background-color: rgba(0, 0, 255, 0.1);
    border-bottom: 0.5px solid black;
}

.top_header {
    width: 100%;
    background: #3275DB;
    height: 40px;
}

.content_box {
    display: flex;
    justify-content: space-between;
    margin-left: 13em;
    width: 80%;
}

.content {
    color: white;
    display: flex;
    margin-top: 10px;
    font-size: 14px;
}

.icon {
    margin-right: 10px;
}

.user a {
    text-decoration: none;
    color: white;
}

.user_text {
    margin-left: 10px;
}

/* last header */
.last_header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    height: 80px;
}

.nav_links {
    margin-top: 10px;
    overflow-y: hidden;

}

.nav_links a {
    margin-left: 15px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;

}

.nav_links a.active {
    text-decoration: underline;
    text-underline-offset: 20px;
    color: #3275DB;
}

.search {
    display: flex;
    float: right;
    height: 100%;
}

.search>* {
    margin-right: 5px;
}

.search span {
    height: 100%;
    font-size: 30px;
}

.search a {
    margin-top: 10px;
    font-size: 20px;

}

.search .icon {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.drop_down_1 {
    position: absolute;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    border: 1px solid #ddd;
    background: #c9d1de;
}

.drop_down_1 a {
    margin-top: 5px;
}

.drop_down_2 {
    position: absolute;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    border: 1px solid #ddd;
    background: #c9d1de;
}

.drop_down_2 a {
    margin-top: 5px;
}